body
    background-color black
    background-image url(../img/bg.jpg)
    background-repeat no-repeat
    background-attachment: cover;
    background-attachment: fixed;
h5,p
    margin 0px

img 
    width 100%

main
    margin 50px auto
    width 1024px
    display flex
    flex-flow: row wrap
    justify-content: flex-start

.stream
    margin 10px
    width 320px
    height 240px
    opacity .8

    a
        display: flex
        flex-direction: column
    &__img
        width 320px
        height 180px
        
    &__info
        display: flex
        flex-direction: row
        background black
        color: white
        height 60px
        
        &--logo
            img
                border-radius 20px
                margin 5px
                width 40px
                height 40px
        &--title
            margin 9px
