.Contact
  padding 50px 0px
  text-transform capitalize
  &__content
    border-radius 6px
    box-shadow -9px 10px 10px rgba(0, 0, 0, .3)
    height 100%
    overflow hidden
    background: #909CC2
    background:
      linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .5) 0) 100% 0 no-repeat,
      linear-gradient(-135deg, transparent 1.5em,  #F7F5FB 0 ) 
    background-size 2em 2em, auto

  a
    border 2px solid black
    padding 3px 15px
    color black
    font-size 20px

  textarea
    height 18vh
  
  button
    float right
    background-color #f7f5fb
    &:hover
      color #F2EFE9
      background #252627
      opacity 0.8

@media (min-width 768px)
  .Contact
    padding 100px 0px
