html {
  height: 100%;
}
body {
  height: 100%;
}
nav {
  position: fixed;
  text-align: right;
}
nav a {
  margin-top: 5px;
}
ul {
  list-style-type: none;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-link {
  text-align: right;
}
form {
  text-align: right;
}
form label {
  width: 100%;
}
form label textarea {
  width: 100%;
}
.forum {
  padding-top: 100px;
}
.post__create {
  padding: 1.5rem;
}
.post__read {
  margin-top: 1rem;
  display: flex;
}
.post__read--header {
  display: flex;
  justify-content: space-between;
}
.post__modify {
  display: flex;
}
.comment__read--header {
  display: flex;
  justify-content: space-between;
}
.comment__modify {
  display: flex;
}
.page {
  padding-top: 15px;
}
.page ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#footer {
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  width: 100%;
  height: 30px;
  background-color: #444;
}
#footer__copy {
  line-height: 30px;
  text-align: center;
}
