header-color = #252627

#Header
  display flex
  align-items center
  height 60px
  background header-color
  .container
    display flex
    justify-content space-between
    width 80%
    margin 0 auto

#logo
  display inline-block
  line-height 60px // 垂直置中
  color: white
  font-size 1.5rem

