nav
  position fixed
  top 0

ul
  list-style-type none

.nav-link
  text-align right

form
  text-align: right
  label
    width 100%
    textarea
      width 100%

.post
  &__create
    padding 1.5rem
    
  &__read
    margin-top 1rem
    display flex
    &--header
      display flex
      justify-content: space-between

  &__modify
    display flex

.comment
  &__read
    &--header
      display flex
      justify-content: space-between
    
  &__modify
    display flex
      