.Blog
  .post__article
    cursor pointer
    border-radius 5px
    box-shadow -9px 10px 10px rgba(0, 0, 0, .3)
    height 200px
    overflow hidden
    background: #909CC2
    background:
      linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .5) 0) 100% 0 no-repeat,
      linear-gradient(-135deg, transparent 1.5em,  #F7F5FB 0 ) 
    background-size 2em 2em, auto
    h1
      font-size 2rem
      height 2.5rem
      overflow hidden
    h3
      height 5%
    p
      height 65%
      overflow hidden
  .post__list
    padding 30px 0

@media (min-width 768px)
  .Blog
    .post__article
      height 300px