<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title list
    link(rel="stylesheet", href="index.css")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="index.js")
  body

    main
      form.todo-list__input
        input.todo-list__content(type="text" name='todo')
        input.todo-list__add(type="submit") 

      ul.todo-list__output